




body{
    background-color: green;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 300;
    color: white;
}
/* This is the first class of css in nmiet ppt classs */

/* There are 5 catogries of selectors 
1 . simple selector 
2 . combinator selector
3 . pseudo-class selector
4 . pseudo-element selector
5 . attribute selector


~text-align : right;

~ p tag child ta ko style nahi karta
~ Universl selector is marked as *
~ 



*/